.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 10fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 'header header header' 'left main right' 'footer footer footer';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #606060;
}

.left {
  grid-area: left;
  background-color: black;
}

.main {
  grid-area: main;
  border: 2px solid blue;
  padding: 1em 2em;
}

.right {
  grid-area: right;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: palevioletred;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #606060;
  color: white;
}

.button {
  color: palevioletred;
  font-size: 1em;
  margin: 1em;
  padding: 0.5em 0.75em;
  border: 2px solid palevioletred;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  font-size: 1em;
}

.day {
  color: black;
  background-color: white;
}

.night {
  color: white;
  background-color: black;
}
